@charset "UTF-8";
input[type=submit] {
    height: 120px; 
    width: 120px; 
    font-size: 200%;
}

.current {
    height: 120px; 
    width: 120px; 
    font-size: 200%;
    color: #fefefe;
    background-color: #111111
}